.squareOrange {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background-color: rgba(255, 170, 91, 1);
}
.squareBlue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background-color: rgba(66, 158, 255, 1);
}
