.btn {
  width: 9.375rem;
  height: 2.875rem;
  background-color: rgba(66, 158, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 0.875rem;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  padding: 0.813rem 1.25rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
